body {
    background-color: #f9dfff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container { 
    flex: 1;
    background-color: white;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #b941ff;
    margin-bottom: 10px;
}
.cc{
    margin-left: 20%;
    background-color: #fabaef;
    max-width: 480px;
}
h1 {
    font-size: 24px;
    color: #a200ff;
}

p {
    font-size: 14px;
    color: #000000;
}

.profile-details {
    text-align: left;
    margin-top: 20px;
}

h2 {
    font-size: 18px;
    color: #a200ff;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}
footer {
    position: bottom;
    background-color: #d8a8f8;
    padding: 30px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o wrapper ocupe pelo menos a altura da janela */
}
footer a {
    color: #7422aa;
    padding: 30px;
}

footer p {
    color: #000000;
}


@media only screen and (max-width: 480px){
    nav{height: 80px; font-size:80%; width: 90%;}
    nav li{width: 100%;};
    table {width:90% ;};
    }
        
    /*Tablet*/
    @media only screen and (min-width: 481px){
    nav{height: 100px; font-size:80%}
    nav li{width: 100%;}
    }
        
    /*Desktop*/
    @media only screen and (min-width: 769px){
       nav{height: 100px; padding-left: 0.5%;font-size: 90%;}
    nav li{width: 20%; text-align: center;}
    }